.result {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 15rem 5.7rem 6rem;
  width: 100%;

  @media (min-width: $stop-scaling) {
    padding: 150px 57px 60px;
  }

  @media (orientation: portrait) {
    padding: 8rem 0 4rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    padding: 8rem 0 3rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding: 3rem 0;
  }
}

.result__images {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;

  @media (orientation: portrait) {
    left: -1rem;
    right: -1rem;
  }
}

.result__image {
  position: absolute;

  &--leaf-right {
    transform-origin: 0 50%;
    animation: rightLeafShake 2.3s ease both;
  }
  &--leaf-left {
    transform-origin: 100% 50%;
    animation: leftLeafShake 2.1s ease both;
  }
  &--leaf-green {
    transform-origin: 0 50%;
    animation: greenLeafShake 1.8s ease 0.2s both;
  }
  &--flamingo {
    animation:
            flamingoFadeIn 0.5s cubic-bezier(0.74, 0.41, 0.24, 0.71) both,
            flamingoFloat 2s linear 0.5s infinite;
  }
  &--suitcase {
    animation: suitcaseSlideIn 0.5s ease both;
  }

  @keyframes flamingoFadeIn {
    0% {
      opacity: 0;
      transform: translate(-90px, calc(50vh - 30%)) rotate(-20deg);
    }
    100% {
      opacity: 1;
      transform: translate(-90px, 110px);
    }
  }

  @keyframes suitcaseSlideIn {
    0% {
      transform: translate(-45px, calc(50vh - 90px)) scale(0.04);
    }
    80% {
      transform: translate(0px, 20px);
    }
    100% {
      transform: translate(0px, 50px);
    }
  }

  @keyframes leftLeafShake {
    0% {
      opacity: 0;
      transform: translate(-230px, 90px) rotate(40deg);
    }
    14.2% {
      opacity: 1;
      transform: translate(-200px, 115px) rotate(-21deg);
    }
    28.4% {
      transform: translate(-230px, 90px) rotate(13deg);
    }
    42.6% {
      transform: translate(-230px, 90px) rotate(-8deg);
    }
    56.8% {
      transform: translate(-230px, 90px) rotate(5deg);
    }
    71% {
      transform: translate(-230px, 90px) rotate(-3deg);
    }
    85.2% {
      transform: translate(-230px, 90px) rotate(2deg);
    }
    100% {
      transform: translate(-230px, 90px) rotate(0);
    }
  }

  @keyframes rightLeafShake {
    0% {
      opacity: 0;
      transform: translate(150px, -5px) rotate(-18deg);
    }
    16.6% {
      opacity: 1;
      transform: translate(150px, -5px) rotate(13deg);
    }
    33.3% {
      transform: translate(150px, -5px) rotate(-8deg);
    }
    50% {
      transform: translate(150px, -5px) rotate(5deg);
    }
    66.6% {
      transform: translate(150px, -5px) rotate(-3deg);
    }
    83.3% {
      transform: translate(150px, -5px) rotate(2deg);
    }
    100% {
      transform: translate(150px, -5px) rotate(0deg);
    }
  }

  @keyframes greenLeafShake {
    0% {
      opacity: 0;
      transform: translate(170px, 95px) rotate(-15deg);
    }
    16.6% {
      opacity: 1;
      transform: translate(175px, 95px) rotate(10deg);
    }
    33.3% {
      transform: translate(175px, 90px) rotate(-8deg);
    }
    50% {
      transform: translate(175px, 90px) rotate(5deg);
    }
    66.6% {
      transform: translate(175px, 90px) rotate(-3deg);
    }
    83.3% {
      transform: translate(175px, 90px) rotate(2deg);
    }
    100% {
      transform: translate(175px, 90px) rotate(0deg);
    }
  }

  @keyframes flamingoFloat {
    0% {
      transform: translate(-90px, 110px) rotate(0deg);
    }
    25% {
      transform: translate(-90px, 120px) rotate(7deg);
    }
    50% {
      transform: translate(-90px, 110px) rotate(10deg);
    }
    75% {
      transform: translate(-90px, 100px) rotate(7deg);
    }
    100% {
      transform: translate(-90px, 110px) rotate(0deg);
    }
  }
}

.result__title {
  margin: 0 auto 2rem;
  color: $color-white;

  @media (min-width: $stop-scaling) {
    margin: 0 auto 20px;
  }

  @media (orientation: portrait) {
    margin-bottom: 1.5rem;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
    stroke-width: 0.2rem;
    stroke-linejoin: round;
  }
}

.result__text {
  margin-bottom: 2rem;
  text-align: center;
  font-family: $font-alt;
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 0.906;
  letter-spacing: -0.01em;

  @media (min-width: $stop-scaling) {
    margin-bottom: 20px;
    font-size: 48px;
  }

  @media (orientation: portrait) {
    font-size: 2.8rem;
    line-height: 1.1;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    font-size: 2.8rem;
  }

  p {
    margin: 0;
  }
}

.result__button {
  @include btn-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: auto auto 1rem;
  min-width: 34rem;
  text-transform: uppercase;
  font-size: 2.4rem;
  line-height: 1.2;
  color: $color-white;

  @media (min-width: $stop-scaling) {
    margin: auto auto 10px;
    min-width: 340px;
    font-size: 24px;
  }

  @media (orientation: portrait) {
    margin: auto 0 0;
    transform: none;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    transform: none;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    margin: auto 0 0;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  svg {
    @include center;
    margin-left: 0.3rem;
    width: 2.4rem;
    height: 1.9rem;

    @media (min-width: $stop-scaling) {
      margin-left: 3px;
      width: 24px;
      height: 19px;
    }
  }

  &:hover {
    .result__button-icon::before {
      width: 112.5%;
      height: 112.5%;
    }
  }

  &:focus {
    outline: none;

    .result__button-icon::before {
      border-color: $color-purple-light;
    }
  }

  &:active,
  &:active:focus {
    .result__button-icon {
      color: $color-white;
    }

    .result__button-icon::before {
      width: 100%;
      height: 100%;
      background-color: $color-purple-light;
      border-color: $color-purple-light;
    }
  }
}

.result__button-icon {
  position: relative;
  margin-left: 1.5rem;
  width: 4rem;
  height: 4rem;
  color: $color-purple;
  animation:
          buttonIconRollIn 0.8s cubic-bezier(0.43, 0.44, 0.03, 1.65) both,
          buttonIconFadeIn 0.8s ease both;

  @media (min-width: $stop-scaling) {
    margin-left: 15px;
    width: 40px;
    height: 40px;
  }

  &::before {
    @include center;
    content: "";
    width: 100%;
    height: 100%;
    background-color: $color-white;
    border: 2px solid $color-white;
    border-radius: 50%;
    z-index: -1;
  }

  @keyframes buttonIconFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes buttonIconRollIn {
    0% {
      transform: translateX(100%) rotate(140deg);
    }
    100% {
      transform: translateX(0) rotate(0);
    }
  }
}

.result__button-text {
  animation: buttonTextFadeIn 0.5s ease both;

  @keyframes buttonTextFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.result__form {
  margin-top: auto;
}

.result--trip,
.result--prize {
  .result__title {
    width: 57.3rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      width: 573px;
      height: 113px;
    }

    @media (orientation: portrait) {
      width: 28.7rem;
      height: 5.7rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      width: 40rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      margin-bottom: 0;
      width: 35rem;
    }
  }
}

.result--negative {
  .result__title {
    margin-top: 9.5rem;
    width: 66.5rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      margin-top: 95px;
      width: 665px;
      height: 113px;
    }

    @media (orientation: portrait) {
      margin-top: 0;
      width: 28.8rem;
      height: 4.9rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      margin-top: 0;
      width: 50rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      width: 45rem;
    }
  }
}
